In [8]:
# Import
import pandas as pd

# upload state pop data
raw_pop = "../Resources/population.csv"
pop_df = pd.read_csv(raw_pop)
pop_df.head()

,GeoFips,GeoName,POSTAL ABBREVIATION,Description,2014,2015,2016,2017,2018,2019,2020,2021
0,1000,Alabama,AL,"Population (midperiod, persons) 1/",4887659.00,4909074.00,4931224.75,4953310.75,4977409.25,5004337.50,5026219.25,5041117.25
1,2000,Alaska *,AZ,"Population (midperiod, persons) 1/",737993.50,739550.75,742756.25,741685.50,737948.00,735030.25,732943.25,732773.75
2,4000,Arizona,AZ,"Population (midperiod, persons) 1/",6639908.50,6717028.50,6801761.50,6882702.00,6972503.75,7072762.75,7177976.50,7278162.75
3,5000,Arkansas,AR,"Population (midperiod, persons) 1/",2962086.25,2970927.50,2981013.50,2990777.50,2997696.75,3005050.25,3013717.75,3026614.75
4,6000,California,CA,"Population (midperiod, persons) 1/",38642380.75,38963797.75,39222767.50,39420180.25,39529784.50,39551101.50,39486492.25,39246401.25

In [ ]:
#convert wide to long
pop_df = pop_df.melt(id_vars=['GeoFips','GeoName','POSTAL ABBREVIATION','Description'], var_name='year',value_name='population')
pop_df.head()

In [ ]:
#drop columns
pop_df = pop_df.drop(columns=['GeoFips', 'Description'])
pop_df.head()

In [ ]:
#update column names
pop_df = pop_df.rename(columns={'GeoName':'state','POSTAL ABBREVIATION':'symbol' })
pop_df.head()

In [ ]:
# upload state income data
raw_income = "income.csv"
income_df = pd.read_csv(raw_income)
income_df.head()

In [ ]:
#convert wide to long
income_df = income_df.melt(id_vars=['GeoFips','GeoName','POSTAL ABBREVIATION','Description'], var_name='year',value_name='perCapitaIncome')
income_df.head()

In [ ]:
#drop columns
#drop columns
income_df = income_df.drop(columns=['GeoFips', 'Description'])
income_df.head()

In [ ]:
#update column names
income_df = income_df.rename(columns={'GeoName':'state','POSTAL ABBREVIATION':'symbol' })
income_df.head()

In [ ]:
#save csv
pop_df.to_csv('clean_population.csv', index = False)
income_df.to_csv('clean_income.csv', index = False)