In [1]:
# Import
import pandas as pd

# upload state pop data
raw_pop = "population.csv"
pop_df = pd.read_csv(raw_pop)
pop_df.head()

,GeoFips,GeoName,POSTAL ABBREVIATION,Description,2014,2015,2016,2017,2018,2019,2020,2021
0,1000,Alabama,AL,"Population (midperiod, persons) 1/",4887659.00,4909074.00,4931224.75,4953310.75,4977409.25,5004337.50,5026219.25,5041117.25
1,2000,Alaska *,AZ,"Population (midperiod, persons) 1/",737993.50,739550.75,742756.25,741685.50,737948.00,735030.25,732943.25,732773.75
2,4000,Arizona,AZ,"Population (midperiod, persons) 1/",6639908.50,6717028.50,6801761.50,6882702.00,6972503.75,7072762.75,7177976.50,7278162.75
3,5000,Arkansas,AR,"Population (midperiod, persons) 1/",2962086.25,2970927.50,2981013.50,2990777.50,2997696.75,3005050.25,3013717.75,3026614.75
4,6000,California,CA,"Population (midperiod, persons) 1/",38642380.75,38963797.75,39222767.50,39420180.25,39529784.50,39551101.50,39486492.25,39246401.25

In [3]:
#convert wide to long
pop_df = pop_df.melt(id_vars=['GeoFips','GeoName','POSTAL ABBREVIATION','Description'], var_name='year',value_name='population')
pop_df.head()

,GeoFips,GeoName,POSTAL ABBREVIATION,Description,year,population
0,1000,Alabama,AL,"Population (midperiod, persons) 1/",2014,4887659.00
1,2000,Alaska *,AZ,"Population (midperiod, persons) 1/",2014,737993.50
2,4000,Arizona,AZ,"Population (midperiod, persons) 1/",2014,6639908.50
3,5000,Arkansas,AR,"Population (midperiod, persons) 1/",2014,2962086.25
4,6000,California,CA,"Population (midperiod, persons) 1/",2014,38642380.75

In [4]:
#drop columns
pop_df = pop_df.drop(columns=['GeoFips', 'Description'])
pop_df.head()

      GeoName POSTAL ABBREVIATION  year   population
0     Alabama                  AL  2014   4887659.00
1    Alaska *                  AZ  2014    737993.50
2     Arizona                  AZ  2014   6639908.50
3    Arkansas                  AR  2014   2962086.25
4  California                  CA  2014  38642380.75

In [5]:
#update column names
pop_df = pop_df.rename(columns={'GeoName':'state','POSTAL ABBREVIATION':'symbol' })
pop_df.head()

        state symbol  year   population
0     Alabama     AL  2014   4887659.00
1    Alaska *     AZ  2014    737993.50
2     Arizona     AZ  2014   6639908.50
3    Arkansas     AR  2014   2962086.25
4  California     CA  2014  38642380.75

In [6]:
# upload state income data
raw_income = "income.csv"
income_df = pd.read_csv(raw_income)
income_df.head()

,GeoFips,GeoName,POSTAL ABBREVIATION,Description,2014,2015,2016,2017,2018,2019,2020,2021
0,1000,Alabama,AL,Per capita personal income (dollars) 2/,"$37,047.50","$38,523.25","$39,009.25","$40,242.75","$41,598.50","$43,148.25","$45,511.00","$48,597.00"
1,2000,Alaska,AK,Per capita personal income (dollars) 2/,"$55,840.25","$57,541.75","$56,327.25","$57,298.50","$59,765.00","$61,622.00","$63,348.00","$67,129.25"
2,4000,Arizona,AZ,Per capita personal income (dollars) 2/,"$38,745.00","$40,317.00","$41,471.25","$43,281.50","$45,280.75","$47,225.25","$51,329.75","$54,291.25"
3,5000,Arkansas,AR,Per capita personal income (dollars) 2/,"$38,737.00","$39,959.75","$40,867.00","$42,055.50","$43,655.00","$45,024.75","$47,499.25","$51,137.25"
4,6000,California,CA,Per capita personal income (dollars) 2/,"$51,255.75","$54,547.50","$56,559.50","$58,818.00","$61,518.50","$64,327.75","$69,982.75","$76,368.00"

In [8]:
#convert wide to long
income_df = income_df.melt(id_vars=['GeoFips','GeoName','POSTAL ABBREVIATION','Description'], var_name='year',value_name='perCapitaIncome')
income_df.head()

,GeoFips,GeoName,POSTAL ABBREVIATION,Description,year,perCapitaIncome
0,1000,Alabama,AL,Per capita personal income (dollars) 2/,2014,"$37,047.50"
1,2000,Alaska,AK,Per capita personal income (dollars) 2/,2014,"$55,840.25"
2,4000,Arizona,AZ,Per capita personal income (dollars) 2/,2014,"$38,745.00"
3,5000,Arkansas,AR,Per capita personal income (dollars) 2/,2014,"$38,737.00"
4,6000,California,CA,Per capita personal income (dollars) 2/,2014,"$51,255.75"

In [9]:
#drop columns
#drop columns
income_df = income_df.drop(columns=['GeoFips', 'Description'])
income_df.head()

      GeoName POSTAL ABBREVIATION  year perCapitaIncome
0     Alabama                  AL  2014     $37,047.50
1      Alaska                  AK  2014     $55,840.25
2     Arizona                  AZ  2014     $38,745.00
3    Arkansas                  AR  2014     $38,737.00
4  California                  CA  2014     $51,255.75

In [10]:
#update column names
income_df = income_df.rename(columns={'GeoName':'state','POSTAL ABBREVIATION':'symbol' })
income_df.head()

        state symbol  year perCapitaIncome
0     Alabama     AL  2014     $37,047.50
1      Alaska     AK  2014     $55,840.25
2     Arizona     AZ  2014     $38,745.00
3    Arkansas     AR  2014     $38,737.00
4  California     CA  2014     $51,255.75

In [11]:
#save csv
pop_df.to_csv('clean_population.csv', index = False)
income_df.to_csv('clean_income.csv', index = False)